:root {
    --color_first: rgb(70, 42, 89);
    --color_second: rgb(29, 26, 166);
    --color_third: rgb(26, 134, 187);
    --color_fourth: #224b4c;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #45454a;
    scroll-behavior: smooth;
    transition: 6s;
}

body {
    background: #b6c5f2;
}

/* Style the header */
header {
    text-align: center;
    color: rgb(48, 48, 48);
}

#title {
    font-size: 5vw;
    padding-top: 10px;
    color: rgb(48, 48, 48);
    animation: fadeIn 0.8s both;
}

/* Nav */
nav {
    /* border: 0.5rem solid blue; */
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: linear-gradient(red, blue);
    background: linear-gradient(0deg, rgba(84, 84, 165, 0.384), transparent);
    z-index: 1;
    backdrop-filter: blur(0.2rem);
    justify-content: space-between;
    text-align: center;
}

nav li {
    /* border: 0.1rem solid red; */
    display: inline-block;
    list-style: none;
    font-size: x-large;
    font-weight: bold;
    color: #20201f;
    margin: 1rem;
}

/* Profile pic */
#profile_pic_container {
    text-align: center;
    animation: fadeIn 1s both;
}

#profile_pic {
    position: relative;
    width: 14rem;
    height: auto;
    border-radius: 50%;
    margin-top: 3rem;


}

#profile_pic_container::before {
    content: "";
    position: absolute;
    text-align: center;
    height: 20rem;
    /* #Profile_pic height+margin*2 */
    width: 20rem;
    left: calc(50% - 10rem);
    /* halfway point - width*0.5 as it spins from the center */
    background: linear-gradient(0deg, var(--color_first), var(--color_second), var(--color_third), var(--color_fourth));
    z-index: -1;
    filter: blur(5rem);
    border-radius: 50%;
    animation: colorShift 3s linear infinite;
    transform: translateX(-50%);
}

/* Define the color-shifting animation */
@keyframes colorShift {
    0% {
        transform: rotate(0deg);
        /* Start with one color */
    }

    100% {
        transform: rotate(360deg);
        /* Return to the initial color */
    }
}

/* #Style the main content */
.Sections {
    height: 70vh;
    width: 100%;
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.containers{
    z-index: 2;
    position: relative;
    margin: 0px;
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: 1rem 1rem 1rem rgb(66, 102, 132);
    border: 0.1rem solid rgba(235, 167, 229, 0.205);
    background: rgb(148, 175, 207);
}

.Sections::before{
    content: "";
    position: absolute;
    margin: auto;
    margin-bottom: 200px;
    background-color: rgb(116, 161, 217);
    width: 30vw;
    height: 30vw;
    top: calc(35vh - 15vw);
    left: calc(50vw - 15vw);
    background: linear-gradient(0deg, var(--color_first), var(--color_third), var(--color_fourth), var(--color_second));
    animation: colorShift 3s linear infinite;
    filter: blur(14rem);
    border-radius: 50%;
}

#Me div {
    width: 70vw;
    height: 130px;
    font-size: large;
    margin-top: -20px;
    color: rgb(48, 48, 48);
}

#Experience_container h1 {
    text-align: center;
    font-size: vw;
    padding-bottom: 10px;
    margin-top: -20px;
}

.card-item {
    position: sticky;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: -20px;
    z-index: 1;
    height: 100px;
}

.card-item-title {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
    color:#20201f;
}

.card-item-desc {
    font-size: medium;
    width: 70vw;
    color: #45454a;
    line-height: 1.5;
}

.card-item-date {
    font-size: medium;
    font-style: italic;
    width:0vw 7;
    color: #35273d;
    line-height: 1.5;
}

#Skills_container h1 {
    padding-bottom: 2rem;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
}

.Skills_container_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 0;
}
#Skills_container{
    margin: 0rem;
    /* background: none; */
    border: none;
    /* box-shadow: none; */
    width: 70%;
    padding: none;
}

.skill{
    flex-grow: inherit;
    background-color: rgb(143, 193, 229);
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
    width: 45%;
    margin-bottom: 10px;
    /* width: 40vw; */
}

.skill-title {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
    color:#20201f;
}

#Projects_container{
    margin: 0rem;
    /* background: none; */
    border: 30px;
    /* box-shadow: none; */
    width: 70%;
    padding: 20px;
    margin: 20vh;
    margin-top: 150px;
}
#Projects{
    height: 60vh;
}



/* footer{
    content: "";
    height: 11rem;
    width: 10%;
} */






#Home {
    /* background-color: #224b4c; */
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.100), white);
}

#Me {
    /* background-color: #224b4c; */
    background: linear-gradient(0deg, rgba(255, 166, 0, 0.100), rgba(255, 0, 0, 0.100));
}

#Experience {
    background: linear-gradient(0deg, rgba(255, 255, 0, 0.100), rgba(255, 166, 0, 0.100));
}

#Skills {
    background: linear-gradient(0deg, rgba(0, 0, 255, 0.100), rgba(255, 255, 0, 0.100));
}

#Projects {
    background: linear-gradient(0deg, rgba(163, 13, 233, 0.100), rgba(0, 0, 255, 0.100));
}

#Contact {
    background: linear-gradient(0deg, rgba(238, 130, 238, 0.100), rgba(163, 13, 233, 0.100), );
}

/* Style headings */
h1 {
    font-size: large;
    margin: 0;
    text-align: center;
    color: rgb(43, 43, 43)
}

p {
    font-size: large;
}

/* Style links */
a:link {
    color: inherit;
    text-decoration-line: inherit;
}

a:hover {
    color: #B9B4C7;
}

/* Style the footer */
footer {
    padding: 10px;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translatey(30vh);
    }

    100% {
        opacity: 1;
    }
}

.animation {
    animation-timeline: view(block 75% 10%);
    animation-name: flip;
    animation-fill-mode: both;
    animation-duration: 1ms;
    /* Firefox requires this to apply the animation */
    animation-timing-function: linear;
}

@keyframes flip {
    0% {
        transform: translate(0%, 0%) rotateX(-90deg);
        opacity: 0;
    }

    100% {
        transform: translate(0%, 0%) rotateX(0deg);
        opacity: 1;
    }
}

#linked_in {
    height: auto;
    width: 1.5vh;
    background-color: none;

}

#linked_in:hover {
    fill: darken(rgb(0, 98, 255), 20%);
}